<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Product Engineer at
      <a class="underline-link" href="https://www.gojek.io/" target="_blank">Gojek Tech</a> building scalable backend systems and matching customer to drivers.
      I have done Diploma in Mobile Computing from  <a class="underline-link" href="https://www.cdac.in/" target="_blank">CDAC .</a>
      I graduated from <a class="underline-link" href="https://aktu.ac.in/" target="_blank">AKTU</a> after completing 4 awesome years studying CS.
</p>

    <p>
      As a software engineer, i look forward to solve real world problems. I have a passion for learning and sharing my knowledge with others as publicly as possible. 
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing some sports, reading some book, blogging, travelling
      and crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
